@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.container{
    height: 350px;
    width: 430px;
}

.container .wrapper{
    height: 300px;
    width: 100%;
    border: 2px dashed #c2cdda;
}